<h1><%= @question.title %></h1>
<p><%= @question.body %></p>
<p><%= link_to 'Reply', new_question_answer_path(@question) %></p>
<% if user_signed_in? && current_user.id == author_id_of(@question) %>
    <%= link_to 'Delete', question_path(@question), method: :delete %>
<% end %>
<% unless @question.answers.empty? %>
  <hr>
  <h2>Answers:</h2>
  <% @question.answers.each do |answer| %>
    <%= answer.body %>
    <hr>
  <% end %>
<% end %>