<% publish_to "/questions/#{@votable.question.id}/answers" do %>
  var userID = parseInt(document.cookie.match( /user_id=(\d*)/ )[1]);
  var IAmTheVoter = userID == <%= current_user.id %>;
  if (IAmTheVoter) {
      $("#answer-<%= @votable.id %> .votes").html(
        '<span class="current-vote">' +
          '<%= @vote.is_like? ? "You like this answer" : "You dislike this answer" %>' +
        '</span>' +
        '  |  ' +
        '<span class="vote-cancel-link">' +
          '<%= link_to "Cancel vote", vote_path(@vote), method: :delete, remote: true %>' +
        '</span>'
      );
  }
  $("#answer-<%= @votable.id %> .rating").html("Rating: <%= @votable.rating %>");
<% end %>
