$("#answer-<%= @answer.id %> .votes").html(
  '<table>' +
    '<tr>' +
      '<td class="like-button"> <%= render 'votes/form', answer:@answer, like:true %></td>' +
      '<td class="dislike-button"> <%= render 'votes/form', answer:@answer, like:false %></td>' +
    '</tr>' +
  '</table>');
<% publish_to "/questions/#{@answer.question.id}/answers" do %>
  $("#answer-<%= @answer.id %> .rating").html("Rating: <%= @answer.rating %>");
<% end %>