<% publish_to "/questions/#{@votable.question.id}/answers" do %>
  var userID = parseInt(document.cookie.match( /user_id=(\d*)/ )[1]);
  var IAmTheVoter = userID == <%= current_user.id %>;
  if (IAmTheVoter) {
    $("#answer-<%= @votable.id %> .votes").html(
      '<table>' +
        '<tr>' +
          '<td class="like-button"> <%= render 'votes/form', answer:@votable, like:true %></td>' +
          '<td class="dislike-button"> <%= render 'votes/form', answer:@votable, like:false %></td>' +
        '</tr>' +
      '</table>'
    );
  }
  $("#answer-<%= @votable.id %> .rating").html("Rating: <%= @votable.rating %>");
<% end %>